* {
    font-family: 'Lato', sans-serif;
}

:root {
    --bg-color: #e6d784;
    --text-color: rgb(238, 245, 245); 
    font-size: 18px;
}

.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgb(122, 32, 9);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 0.3;
  margin: 2rem;
  padding: 0;
  text-transform: uppercase;
}
.btn-23:disabled {
  cursor: default;
}
.btn-23:-moz-focusring {
  outline: auto;
}
.btn-23 svg {
  display: flex;
}
.btn-23 [hidden] {
  display: none;
}
.btn-23 {
  margin-left: 19%;
  height:6%;
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: relative;
  transition: opacity 0.2s ease;
}
.btn-23 .marquee {
  --spacing: 12em;
  --start: 0em;
  --end: 12em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}
.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}
.btn-23:hover .text {
  opacity: 0;
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }
  to {
    transform: translateX(var(--end));
  }
}
@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }
  to {
    transform: translateX(var(--end));
  }
}

body {
  padding-left: 0px;
    padding-bottom: 3em;
    position:relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

footer {
  /*que estigui sempre fixe a baix de tot, com ho volem de centrat, com volem la línia,
  etc*/
  text-align: center;
  position: relative;
  bottom: 0;
  margin-right: 26px;
  padding-right: 25px;
  border-top: 1px solid grey;
  color: rgb(216, 7, 7);
  width:95%;
  margin-top: 170px;
}

/* El link el tinc posat dins una a */
a:link{
    color: rgb(7, 7, 7);
}

/* link ja visitat*/
a:visited {
    color: rgb(162, 167, 162);
  }
  
  /* quan posem el ratolí sobre el link */
  a:hover {
    color: rgb(36, 13, 241);
  }
  
  /* quan seleccionem el link */
  a:active {
    color: rgb(36, 13, 241);
  }

p {
    margin-bottom: 0.80rem;
    line-height: 1.4 rem;
}

.pokemon-card {
    position: relative;
    justify-content: center;
    width: 290px;
    padding: 13px;
    margin-left: 9px;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(19, 9, 9);
    border-radius: 20px;
    display: none;
}

.pokemon-img{
  position: relative;
    width: 20px;
    height: 20px;
    align-self: center;
  
}

.pokemon-name{
  position: relative;
  text-transform: capitalize;
  word-wrap: break-word; 
  font-size: 45px;
  margin: 20px 20px;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 6px; 
    
}

.search-form {
    margin: 20px 20px;
    
}

.searchbox {
    /* el primer valor de margin és vertical, el segon és horitzontal
    volem que ens el centri horitzontalment de forma automàtica*/
    position: relative;
    padding: 10px 20px;
    background-color: black;
    max-width: 480px;
    margin: 0px auto;
    border-radius: 25px;;
}
.pokemon-properties{
    display:flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
}
.search {
    /*això és la barra de buscar ciutat*/
    position: relative;
    width: 100%;
    background-color: black;
    border: none; 
    font-size: 1.25rem;
    border-radius: 2px;
    color: var(--text-color);
}

.search:focus {
    /*quan escrivim a buscar un pokemon no ens apareix cap requadre*/
    outline: none;
}

@media only screen and (max-width: 373px) {
  .pokemon-card {
    position: relative;
    justify-content: center;
    width: 270px;
    padding: 11px;
    margin-left: 8%;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(19, 9, 9);
    border-radius: 20px;
    display: none;
}
}